
*.zip
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/4680128a-a1d3-4916-a83a-78c62415463a.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/661ca66d-c73b-4bb2-aacf-729e3329d67b.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/71766a63-b23a-470e-addb-9883541e9172.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/a28ed7c7-e4a0-496f-b63d-d1417bd9142a.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/ab847cd4-3dce-4439-b3bd-37972d3e979b.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/d15cf3f8-ae98-4014-ab38-aa61af78ad85.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/d2db9203-5080-43f7-ab83-7de378f7dc2b.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/e4cb25da-3ff7-4f28-b2bf-c07322969c0b.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/.suo
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/Browse.VC.db
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/24955e1c62ef4073/MATRIX4X4.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/2aa71064c03276d5/UTILS.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/371e93a1c9724245/DIRECTSHADER.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/5009d92806d77017/DIRECTSHADER.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/629c6283949a62d2/VECTOR3D.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/6d606401347d971/TRANSMISSIVE.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/a181bd87a67df79b/PHONG.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/b0757946f1858d1f/GLOBALSHADER.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/b60a7bbaff7d515c/MATERIAL.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/bb3f43261d03ebb6/MAIN.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/cfa2e0497106cc30/MAIN.ipch
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/ipch/AutoPCH/fa49c39160afee3a/MIRROR.ipch
RTACG_Students/VisualStudio2015/RTACG/output.bmp
RTACG_Students/VisualStudio2015/RTACG/RTIS_V2.vcxproj
RTACG_Students/VisualStudio2015/RTACG/RTIS_V2.vcxproj.filters
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/bitmap.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/camera.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/depthshader.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/directshader.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/eqsolver.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/film.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/globalshader.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/hemisphericalsampler.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/infiniteplan.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/intersection.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/intersectionshader.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/main.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/material.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/matrix4x4.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/mirror.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/normalshader.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/ortographic.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/perspective.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/phong.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/pointlightsource.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/ray.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.exe
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.exe.recipe
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.ilk
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.pdb
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.tlog/CL.command.1.tlog
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.tlog/CL.read.1.tlog
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.tlog/CL.write.1.tlog
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.tlog/link.command.1.tlog
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.tlog/link.read.1.tlog
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.tlog/link.write.1.tlog
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RT_ACG.tlog/RT_ACG.lastbuildstate
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RTIS_V2.log
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/RTIS_V2.vcxproj.FileListAbsolute.txt
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/shader.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/shape.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/sphere.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/tester.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/transmissive.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/utils.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/vc143.idb
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/vc143.pdb
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/vector3d.obj
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/661ca66d-c73b-4bb2-aacf-729e3329d67b.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/.suo
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/661ca66d-c73b-4bb2-aacf-729e3329d67b.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/71766a63-b23a-470e-addb-9883541e9172.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/d15cf3f8-ae98-4014-ab38-aa61af78ad85.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/FileContentIndex/e4cb25da-3ff7-4f28-b2bf-c07322969c0b.vsidx
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/.suo
RTACG_Students/VisualStudio2015/RTACG/.vs/RT_ACG/v17/Browse.VC.db
RTACG_Students/VisualStudio2015/RTACG/output.bmp
RTACG_Students/VisualStudio2015/RTACG/RTIS_V2.vcxproj
RTACG_Students/VisualStudio2015/RTACG/RTIS_V2.vcxproj.filters
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/bitmap.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/camera.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/depthshader.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/directshader.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/eqsolver.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/film.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/infiniteplan.obj
RTACG_Students/VisualStudio2015/RTACG/x64/Debug/intersection.obj
*.vsidx
*.db
